<h1 id="banner">Welcome to the admin dashboard, sensei!</h1>

  <ul>
    <li> <%= link_to 'Manage Items', admin_items_path %> </li>
    <li> <%= link_to 'Manage Categories', admin_categories_path %> </li>
  </ul>
