<div class="item">

    <div class="header">
        <%= item.title %>
    </div>

    <div class="description">
        <%= item.description %>
    </div>

    <div class="price">
        <%= number_to_currency(item.price) %>
    </div>

    <%= button_to "Add To Cart", orders_path(item_id: item) %> </p>

    <div class="admin">

    </div>

</div>