<% @items.each do |item| %>
  <p id="item"><% item.title %>
   <%= link_to item.title, menu_path(item), class: "item_title", id: "item_#{item.id}" %>
   <%= button_to "Add To Cart", order_items_path(item_id: item) %> </p>
   <%= button_to "View Cart", order_items_path %> </p>
<% end %>
